<!-- templates/main.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>식당 목록</title>
</head>
<body>
  <h1>식당 리스트</h1>
  <ul id="restaurant-list">

  </ul>

  <script>
    fetch('http://localhost:8000/restaurants/')
      .then(res => res.json())
      .then(data => {
        const list = document.getElementById('restaurant-list');
        data.results.forEach(restaurant => {
          const li = document.createElement('li');
          li.innerHTML = `<a href="/restaurant_detail.html?id=${restaurant.id}">${restaurant.name}</a>`;
          list.appendChild(li);
        });
      });
  </script>
</body>
</html>
